{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block produto1 %}
<div class="container">
    <h2>TELA DE LOGIN</h2>
    <div class="row">
        <div class="col-md-6">
            <span class="lead">
                <br>
                <h3>Seja bem-vindo ao nosso sistema</h3><br>
                Para poder logar terá de ser funcionário da determinada empresa e possuir credências
                fornecidas pelo admin do sistema.<br><br>
                Em caso de ser cliente, visite a página mercado para poder ver o cardápio que
                temos para você.
            </span>
        </div>
        <div class="col-md-6" id="lista" style="padding-bottom: 138px;">
            <form method="post">
                {% csrf_token %}
            
                {{ form|crispy }}
                <br>
                <button class="btn btn-success" type="submit"><i class="fa fa-door-open"></i> entrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}