{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block produto %}

<div class="container">
    <h2 class="title">REGISTRAR PRODUTO</h2>

    <div   id="lista">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form|crispy }}
            
            <hr>
            <a href="{% url 'lista-de-produto' %}" class="btn btn-secondary"> cancelar </a>
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> salvar </button>
        </form>
    </div>
</div>

{% endblock %}